<footer class="bg-primary">
    <div class="container py-3">
        <div class="text-center py-2 text-white">
            <span>
                Made with <i class="fas fa-heart"></i>
            </span>
        </div>
    </div>
</footer>
