{%
    set routes = [
        {
            name: 'Index',
            path: 'welcome',
        },
        {
            name: 'Certificates',
            path: 'certificates',
        },
        {
            name: 'Orders',
            path: 'orders',
        },
    ]
%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary pt-3 pb-3">
    <div class="container">
        <a class="navbar-brand" href={{ url('welcome') }}>TT3Y5D</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set path = app.request.attributes.get('_route') %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% for route in routes %}
                    <li class="nav-item">
                        <a class="nav-link {% if path == route.path %}active{% endif %}" href={{ url(route.path) }}>{{ route.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
